.tile, .tileRed{
    width: 30px;
    height: 30px;
    outline: none;
    left: 10px;
    top: 10px;
    position: relative;
}
.tileRed{
    color: red;
    /*pointer-events: none;*/
}
textarea:focus, input:focus{
    outline: none;
}